* {
	box-sizing: border-box;
}
.container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
	font-size: $base-size;
	color: $body;
	margin: 0;
    background-color: $white;
}
.wrapper {
    overflow: hidden;
}

a {
    text-decoration: none;
}
img {

	max-width: 100%;
    display: block;
    height: auto;
}
p {
    font-weight: 400;
    font-size: $text-size;
    line-height: 36px;
    color: $body;
    margin: 0;
}
ul {
    list-style-type: none;
}
h1 {
    font-weight: 700;
	font-size: 60px;
	line-height: 110px;
	margin: 0;
    color: $color-title;
}
h2 {
    font-weight: 700;
	font-size: 40px;
	line-height: 52px;
    letter-spacing: 0.2px;
	margin: 0;
    color: $color-title;
}
h3 {
    font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	margin: 0;
    color: $color-title;
}
h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
	margin: 0;
    color: $color-title;
}
h5 {
    font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	margin: 0;
    color: $body;
}
.section {
    margin: 120px 0;
    @include media-down('820px') {
        margin-bottom: 70px;
    }
}
.records-form {
    form {
        select {
            display: block;
            cursor: pointer;
        }
        input,
        select {
            width: 100%;
            padding: 12px 0 12px 15px;
            border: none;
            background-color: $color-form;
            border-radius: 10px;
        }
        label a {
            text-decoration: revert;
            color: $primary-color;
            &:hover {
                color: darken($color: $primary-color, $amount: 20%);
            }
        }
        textarea {
            background-color: $color-form;
            border: none;
            border-radius: 10px;
            width: 100%;
            padding: 12px 0 0 15px;
        }
        input,
        textarea {
            &:active,
            &:focus {
                &::placeholder {
                    font-size: 0;
                }
            }
        }
        .checkboxes.checkbox {
            display: inline-block;
            position: relative;
            cursor: pointer;
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                &:checked ~ .checkup {
                    background-color: $primary-color;
                    &:after {
                        opacity: 1;
                        left: 6px;
                    }
                }
            }
            .checkup {
                position: absolute;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: $color-form;
                border: 1px solid $primary-color;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: -1px;
                    width: 7px;
                    height: 15px;
                    border: 1px solid $white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                    opacity: 0;
                    transition: opacity 0.25s, left 0.25s;
                }
            }
            .checkbox-info {
                margin-left: 30px;
            }
        }
        .form-wrapper-checkbox {
            display: flex;
            margin-bottom: 25px;
            label {
                display: inline-block;
                position: relative;
                cursor: pointer;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                    &:checked ~ span {
                        &:after {
                            opacity: 1;
                            left: 7px;
                            top: 2px;
                        }
                        &::before {
                            background-color: $primary-color;
                        }
                    }
                }
                span {
                    margin-left: 30px;
                    display: flex;
                    align-items: center;
                    &::before {
                        content: "";
                        height: 20px;
                        width: 20px;
                        background-color: $color-form;
                        border: 1px solid $primary-color;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: -1px;
                        width: 7px;
                        height: 15px;
                        border: 3px solid $white;
                        border-top-width: 0;
                        border-left-width: 0;
                        transform: rotate(45deg);
                        opacity: 0;
                        transition: opacity 0.25s, left 0.25s;
                    }
                }
            }
        }
    }   
}