.hero {
    &-global {
        display: flex;
        position: relative;
        z-index: 1;
        @include media-down('980px') {
            flex-direction: column-reverse;
        }
    }
    .btn-secondary {
        @include media-down('460px') {
            padding: 7px 20px;
            font-size: 14px;
            line-height: 24px;
        }
        @include media-down('400px') {
            width: 100%;
        }
    }
    &-title {
        & h1 {
            @include media-down('1120px') {
                font-size: 40px;
                line-height: 50px;
            }
            @include media-down('640px') {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
    &-modal {
        & iframe {
            max-width: 100%;
            border-radius: 10px;
        }
        & .btn-close {
            position: absolute;
            z-index: 1;
            top: 0;
            right: -30px;
        }
    }
    &-img {
        &-bg {
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: -5px;
            & img {
                max-width: 85%;
            }
        }
        &-global {
            position: relative;
            z-index: 1;
            bottom: 20px;
            @include media-down('820px') {
                left: -20px;
            }
        }
        &-second {
            position: absolute;
            z-index: 1;
            top: 40px;
            right: 20px;
            @include media-down('820px') {
                right: 0;
            }
            @include media-down('640px') {
                max-width: 20%;
                right: -40px;
                top: 0px;
            }
            &::after {
                content: '';
                border-radius: 50%;
                display: block;
                background-color: #2B2C34;
                position: absolute;
                z-index: -1;
                width: 84px;
                height: 84px;
                top: -15px;
                left: -15px;
                opacity: 0.9;
                @include media-down('640px') {
                    top: -5px;
                    left: -5px;
                    width: 54px;
                    height: 54px;
                }
            }
        }
        &-first {
            position: absolute;
            z-index: 1;
            top: 40px;
            left: 40px;
            @include media-down('820px') {
                left: 0;
            }
            @include media-down('640px') {
                left: -50px;
                max-width: 30px;
                top: 0;
            }
            &::after {
                content: '';
                border-radius: 50%;
                display: block;
                background-color: #470137;
                position: absolute;
                z-index: -1;
                width: 68px;
                height: 68px;
                top: -15px;
                left: -15px;
                @include media-down('640px') {
                    top: -10px;
                    left: -10px;
                    width: 48px;
                    height: 48px;

                }
            }
        }
        &-last {
            position: absolute;
            z-index: 1;
            top: -40px;
            left: -60px;
            @include media-down('640px') {
                top: -70px;
                left: -130px;
            }
            &::after {
                content: '';
                border-radius: 50%;
                display: block;
                background-color: #333333;
                position: absolute;
                z-index: -1;
                width: 47px;
                height: 47px;
                top: -9px;
                left: -9px;
            }
        }
        &-local {
            position: absolute;
            z-index: 1;
            bottom: -100px;
            left: 90px;
            @include media-down('820px') {
                left: 20px;
            }
            @include media-down('520px') {
                left: 0px;
                bottom: -80px;
            }
        }
    }
    &-products {
        display: inline-block;
        &-link {
            font-weight: 700;
            font-size: 60px;
            line-height: 100px;
            letter-spacing: 0.2px;
            color: $primary-color;
            padding: 10px 38px;
            position: relative;
            z-index: 1;
            border-radius: 20px;
            border: 8px solid $primary-color;
            @include media-down('1120px') {
                padding: 10px 18px;
            }
            @include media-down('640px') {
                border-radius: 10px;
                padding: 10px;
            }
            &::after {
                content: '';
                border: 8px solid #706FE5;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                position: absolute;
                z-index: 2;
                right: -17px;
                top: -17px;
                background-color: $white;
                @include media-down('640px') {
                    width: 18px;
                    height: 18px;
                    border: 5px solid #706FE5;
                    left: 145px;
                    top: -10px;
                }
            }
            &::before {
                content: '';
                border: 8px solid #706FE5;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                position: absolute;
                z-index: 2;
                left: -17px;
                top: -17px;
                background-color: $white;
                @include media-down('640px') {
                    left: -10px;
                    top: -10px;
                    width: 18px;
                    height: 18px;
                    border: 5px solid #706FE5;
                }
            }
            @include media-down('1120px') {
                font-size: 40px;
            }
            @include media-down('640px') {
                font-size: 30px;
                border: 5px solid #706FE5;
            }
        }
    }
    &-background {
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            border: 8px solid #706FE5;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            position: absolute;
            z-index: 2;
            right: -9px;
            bottom: -25px;
            background-color: $white;
            @include media-down('640px') {
                width: 18px;
                height: 18px;
                border: 5px solid #706FE5;
                left: -12px;
                bottom: -21px;
            }
        }
        &::before {
            content: '';
            border: 8px solid #706FE5;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            position: absolute;
            z-index: 2;
            bottom: -25px;
            left: -364px;
            background-color: $white;
            @include media-down('1120px') {
                left: -237px;
            }
            @include media-down('640px') {
                width: 18px;
                height: 18px;
                border: 5px solid #706FE5;
                left: -167px;
                bottom: -20px;
            }
            
        }
    }
    &-colon-left {
        max-width: 60%;
        @include media-down('1120px') {
            max-width: 50%;
        }
        @include media-down('980px') {
            max-width: 100%;
            margin-top: 120px;
        }
    }
    &-colon-right {
        max-width: 40%;
        position: relative;
        z-index: 1;
        @include media-down('980px') {
            max-width: 50%;
            right: -150px;
        }
        @include media-down('460px') {
            right: -120px;
        }
        &-images {
            position: relative;
            z-index: 1;
        }
    }
    .section-button {
        padding: 0 17px;
        display: flex;
        align-items: center;
        @include media-down('460px') {
            padding: 0 10px;
        }
        @include media-down('400px') {
            justify-content: center;
            margin: 20px 0;
        }
        &-wrapper {
            display: flex;
            margin: 0 -17px;
            @include media-down('460px') {
                margin: 0 -10px;
            }
            @include media-down('400px') {
                display: block;
            }
        }
    }
  
    &-text {
        margin: 42px 0 24px;
        @include media-down('1120px') {
            margin: 22px 0 24px;
        }
        @include media-down('460px') {
            margin: 10px 0;
        }
        p {
            @include media-down('1120px') {
                font-size: 16px;
                line-height: 28px;
            }            
        }
    }
    & .modal-content {
        background-color: transparent;
        border: none;
        margin-top: 40px;
    }
}
.btn-video {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: $body;
    flex-wrap: wrap;
    max-width: 146px;
    padding: 0 6px;
}