.hero {
    &-global {
        display: flex;
        position: relative;
        z-index: 1;
    }
    &-modal {
        & iframe {
            max-width: 100%;
            border-radius: 10px;
        }
        & .btn-close {
            position: absolute;
            z-index: 1;
            top: 0;
            right: -30px;
        }
    }
    &-img {
        &-bg {
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: -5px;
            & img {
                max-width: 85%;
            }
        }
        &-global {
            position: relative;
            z-index: 1;
            bottom: 20px;
        }
        &-second {
            position: absolute;
            z-index: 1;
            top: 40px;
            right: 20px;
            &::after {
                content: '';
                border-radius: 50%;
                display: block;
                background-color: #2B2C34;
                position: absolute;
                z-index: -1;
                width: 84px;
                height: 84px;
                top: -15px;
                left: -15px;
                opacity: 0.9;
            }
        }
        &-first {
            position: absolute;
            z-index: 1;
            top: 40px;
            left: 40px;
            &::after {
                content: '';
                border-radius: 50%;
                display: block;
                background-color: #470137;
                position: absolute;
                z-index: -1;
                width: 68px;
                height: 68px;
                top: -15px;
                left: -15px;
            }
        }
        &-last {
            position: absolute;
            z-index: 1;
            top: -40px;
            left: -60px;
            &::after {
                content: '';
                border-radius: 50%;
                display: block;
                background-color: #333333;
                position: absolute;
                z-index: -1;
                width: 47px;
                height: 47px;
                top: -9px;
                left: -9px;
            }
        }
        &-local {
            position: absolute;
            z-index: 1;
            bottom: -100px;
            left: 90px;
        }
    }
    &-products {
        display: inline-block;
        &-link {
            font-weight: 700;
            font-size: 60px;
            line-height: 100px;
            letter-spacing: 0.2px;
            color: $primary-color;
            padding: 10px 38px;
            position: relative;
            z-index: 1;
            border-radius: 20px;
            border: 8px solid $primary-color;
            &::after {
                content: '';
                border: 8px solid #706FE5;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                position: absolute;
                z-index: 2;
                right: -17px;
                top: -17px;
                background-color: $background;
            }
            &::before {
                content: '';
                border: 8px solid #706FE5;
                border-radius: 50%;
                width: 28px;
                height: 28px;
                position: absolute;
                z-index: 2;
                left: -17px;
                top: -17px;
                background-color: $background;
            }
        }
    }
    &-background {
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            border: 8px solid #706FE5;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            position: absolute;
            z-index: 2;
            right: -9px;
            bottom: -25px;
            background-color: $background;
        }
        &::before {
            content: '';
            border: 8px solid #706FE5;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            position: absolute;
            z-index: 2;
            bottom: -25px;
            left: -364px;
            background-color: $background;
        }
    }
    &-colon-left {
        max-width: 60%;
    }
    &-colon-right {
        max-width: 40%;
        position: relative;
        z-index: 1;
        &-images {
            position: relative;
            z-index: 1;
        }
    }
    .section-button {
        padding: 0 17px;
        display: flex;
        align-items: center;
        &-wrapper {
            display: flex;
            margin: 0 -17px;
        }
    }
  
    &-text {
        margin: 42px 0 24px;
    }
    & .modal-content {
        background-color: transparent;
        border: none;
        margin-top: 40px;
    }
}
.btn-video {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: $body;
    flex-wrap: wrap;
    max-width: 146px;
    padding: 0 6px;
}