.reviews {
    background-color: $secondary-color;
    color: $color-slide;
    &-global {
        position: relative;
        z-index: 1;
    }
    & .section-title {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        padding: 94px 0 75px;
        max-width: 360px;
        margin: 0 auto;
        @include media-down('820px') {
            padding: 80px 0;
        }
        & h2 {
          font-family: Poppins;
          font-weight: 800;
          line-height: 60px;
          @include media-down('820px') {
            line-height: 40px;
            font-size: 30px;
          }
        }
    }
    & .slick-slider {
        z-index: 9;
    }
    & .review-img {
        & img {
            -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
            -webkit-transition: all 1s;
            transition: all 1s;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }
        &.slick-current {
            & img {
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
                -webkit-transition: all 1s;
                transition: all 1s;
            }
        }
    }
    & .reviews-slider {
        position: relative;
        & .icon-angle-left,
        & .icon-angle-right {
            position: absolute;
            top: 40%;
        }
    }
    & .reviews-text-slider {
        margin: auto;
        padding: 0;
        position: relative;
        text-align: center;
        z-index: 9;
        & h2 {
            color: $color-title;
        }
    }
    & .review-comment {
        outline: none;
        text-align: center;
        margin-bottom: 70px;
        & p {
            color: $color-slide;
            line-height: 24px;
        }
        &.slick-slide {
            font-family: Poppins;
            font-size: $base-size;
            line-height: 24px;
            @include media-down('820px') {
                font-size: 14px;
                line-height: 22px;
            }
            &.slick-current.slick-active p {
                font-family: Poppins;
                font-size: $base-size;
                line-height: 44px;
            }
        }
    }
    & .grid-padding-x > .cell:nth-child(2) {
        position: relative;
        & .quotes {
            position: absolute;
            width: 100%;
            &::before {
                top: -30px;
                left: -70px;
                @include media-down('720px') {
                    left: -50px;
                }
            }
            &::after {
                bottom: -20px;
                right: -70px;
                @include media-down('720px') {
                    right: -50px;
                }
            }
        }
    }
    .grid-padding-x > .cell:nth-child(2) .quotes::after,
    .grid-padding-x > .cell:nth-child(2) .quotes::before {
        content: ',,';
        position: absolute;
        color: $primary-color;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        display: block;
        z-index: 999;
        font-size: $big-size;
        font-weight: 800;
        line-height: 122px;
        @include media-down('720px') {
            font-size: 60px;
            line-height: 92px;
        }
        @include media-down('520px') {
            display: none;
        }
    }
    .grid-padding-x > .cell:nth-child(2) .quotes::after {
        transform: rotate(0deg);
    }
    .grid-x.grid-padding-x.align-center {
        max-width: 670px;
        margin: 0 auto;
        @include media-down('820px') {
            max-width: 500px;
        }
        @include media-down('630px') {
            max-width: 400px;
        }
    }
    .review-img.slick-slide.slick-current.slick-active.slick-center img {
        border: 5px solid $primary-color;
        padding: 3px;
    }
    .review-card-info {
        display: none;
        & h3 {
            font-family: Poppins;
            text-align: center;
            display: block;
        }
        & span {
            font-family: Poppins;
            font-size: $text-size;
            font-weight: 500;
            line-height: 30px;
            text-align: center;
            padding-bottom: 87px;
        }
    }
    .review-img.slick-slide.slick-current.slick-active.slick-center .review-card-info {
        min-width: 210px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        @include media-down('720px') {
            margin-top: 10px;
        }
    }
    .slick-initialized .slick-slide {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & .reviews-decor {
        &-top {
            position: absolute;
            z-index: 1;
            top: 72px;
            left: 30px;
            @include media-down('720px') {
                top: 0;
                left: 0;
            }
        }
        &-bottom {
            position: absolute;
            z-index: 1;
            bottom: 120px;
            right: 0;
            @include media-down('720px') {
                bottom: 0;
                right: 0;
            }
        }
    }
}