.reviews {
    background-color: $secondary-color;
    color: $color-slide;
    & .section-title {
        text-transform: uppercase;
        text-align: center;
        position: relative;
        padding: 94px 0 75px;
        & h2 {
          font-family: Poppins;
          font-weight: 800;
          line-height: 60px;
        }
    }
    & .slick-slider {
        z-index: 9;
    }
    & .review-img {
        & img {
            -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
            -webkit-transition: all 1s;
            transition: all 1s;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            margin: 0 auto;
        }
        &.slick-current {
            & img {
                -webkit-transform: scale(1, 1);
                transform: scale(1, 1);
                -webkit-transition: all 1s;
                transition: all 1s;
            }
        }
    }
    & .reviews-slider {
        position: relative;
        & .icon-angle-left,
        & .icon-angle-right {
            position: absolute;
            top: 40%;
        }
    }
    & .reviews-text-slider {
        margin: auto;
        padding: 0;
        position: relative;
        text-align: center;
        z-index: 9;
        & h2 {
            color: $color-title;
        }
    }
    
    & .review-comment {
        outline: none;
        text-align: center;
        margin-bottom: 70px;
        & p {
            color: $color-slide;
            line-height: 24px;
        }
    }
    
    & .grid-padding-x > .cell:nth-child(2) {
        position: relative;
    }
    
    & .grid-padding-x > .cell:nth-child(2) .quotes {
        position: absolute;
        width: 100%;
    }
    & .grid-padding-x > .cell:nth-child(2) .quotes::before {
        top: -30px;
        left: -70px;
    }
      
    & .grid-padding-x > .cell:nth-child(2) .quotes::after {
        bottom: -20px;
        right: -70px;
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    .grid-padding-x > .cell:nth-child(2) .quotes::after,
    .grid-padding-x > .cell:nth-child(2) .quotes::before {
        content: ',,';
        position: absolute;
        color: $primary-color;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        display: block;
        z-index: 999;
        font-size: 100px;
        font-weight: 800;
        line-height: 122px;
    }
    .grid-x.grid-padding-x.align-center {
        max-width: 670px;
        margin: 0 auto;
    }
    .review-comment.slick-slide.slick-current.slick-active p {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 44px;

    }
    .review-img.slick-slide.slick-current.slick-active.slick-center img {
        border: 5px solid $primary-color;
        padding: 3px;
    }
    .review-card-info {
        display: none;
        & h3 {
            font-family: Poppins;
            text-align: center;
            display: block;
        }
        & span {
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: center;

        }
    }
    .review-img.slick-slide.slick-current.slick-active.slick-center .review-card-info {
        min-width: 210px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .slick-initialized .slick-slide {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}