$primary-color: #706FE5;
$secondary-color: rgba(112, 111, 229, 0.02);
$white: #FFFFFF;
$color-title: #1E1F4B;
$color-slide: #03014C;
$body: #2E3E5C;
$base-size: 16px;
$text-size: 20px;
$big-size: 100px;
